---

- name: "5.2.1 | Ensure sudo is installed"
  package:
    name: "{{ cis_sudo_package }}"
    state: present
  tags:
  - level1-server
  - level1-workstation
  - automated
  - patch
  - 5.2.1
  - sudo

- name: "5.2.2 | Ensure sudo commands use pty"
  lineinfile:
    path: /etc/sudoers
    regexp: '^Defaults\s+use_'
    line: 'Defaults        use_pty'
    insertafter: '^\s*Defaults'
  tags:
  - level1-server
  - level1-workstation
  - automated
  - patch
  - 5.2.2
  - sudo

- name: "5.2.3 | Ensure sudo log file exists"
  lineinfile:
    path: /etc/sudoers
    regexp: '^Defaults\s+logfile'
    line: 'Defaults        logfile="{{ cis_sudo_logfile }}"'
    insertafter: '^\s*Defaults'
  tags:
  - level1-server
  - level1-workstation
  - automated
  - patch
  - 5.2.3
  - sudo

- name: "5.2.4 | Ensure users must provide password for escalation"
  replace:
    path: "{{ item }}"
    regexp: '^([^#|{% if system_is_ec2 %}ec2-user{% endif %}].*)NOPASSWD(.*)'
    replace: '\1PASSWD\2'
    validate: '/usr/sbin/visudo -cf %s'
  loop: "{{ cis_sudoers_files.stdout_lines }}"
  tags:
  - level2-server
  - level2-workstation
  - patch
  - sudo
  - 5.2.4

- name: "5.2.5 | Ensure re-authentication for privilege escalation is not disabled globally"
  replace:
    path: "{{ item }}"
    regexp: '^([^#].*)!authenticate(.*)'
    replace: '\1authenticate\2'
    validate: '/usr/sbin/visudo -cf %s'
  loop: "{{ cis_sudoers_files.stdout_lines }}"
  tags:
  - level1-server
  - level1-workstation
  - patch
  - sudo
  - 5.2.5

- name: "5.2.6 | Ensure sudo authentication timeout is configured correctly"
  block:
  - name: "5.2.6 | Ensure sudo authentication timeout is configured correctly | Get files with timeout set"
    shell: grep -is 'timestamp_timeout' /etc/sudoers /etc/sudoers.d/* | cut -d":" -f1 | uniq | sort
    changed_when: false
    failed_when: false
    register: cis_5_2_6_timeout_files

  - name: "5.2.6 | Ensure sudo authentication timeout is configured correctly | Set value if no results"
    lineinfile:
      path: /etc/sudoers
      regexp: '^\s*Defaults/s+timestamp_timeout='
      line: "Defaults        timestamp_timeout={{ cis_sudo_timestamp_timeout }}"
      insertafter: '^\s*Defaults'
      validate: '/usr/sbin/visudo -cf %s'
    when: cis_5_2_6_timeout_files.stdout | length == 0

  - name: "5.2.6 | Ensure sudo authentication timeout is configured correctly | Set value if has results"
    replace:
      path: "{{ item }}"
      regexp: 'timestamp_timeout=(\d+)'
      replace: "timestamp_timeout={{ cis_sudo_timestamp_timeout }}"
      validate: '/usr/sbin/visudo -cf %s'
    loop: "{{ cis_5_2_6_timeout_files.stdout_lines }}"
    when: cis_5_2_6_timeout_files.stdout | length > 0
  tags:
  - level1-server
  - level1-workstation
  - patch
  - sudo
  - 5.2.6

- name: "5.2.7 | Ensure access to the su command is restricted"
  block:
  - name: "5.2.7 | Ensure access to the su command is restricted | Ensure sugroup exists"
    group:
      name: "{{ cis_sugroup }}"
      state: present
    register: cis_5_2_7_sugroup

  - name: "5.2.7 | Ensure access to the su command is restricted | remove users from group"
    lineinfile:
      path: /etc/group
      regexp: '^{{ cis_sugroup }}(:.:.*:).*$'
      line: '{{ cis_sugroup }}\g<1>'
      backrefs: true

  - name: "5.2.7 | Ensure access to the su command is restricted | Setting pam_wheel to use_uid"
    lineinfile:
      path: /etc/pam.d/su
      regexp: '^(#)?auth\s+required\s+pam_wheel\.so'
      line: 'auth           required        pam_wheel.so use_uid group={{ cis_sugroup }}'
  tags:
  - level1-server
  - level1-workstation
  - patch
  - sudo
  - 5.2.7
